[Desktop Entry]
Name=ClicknFly
GenericName=Drone flight director
Keywords=drone;demonstration
Comment=Click and Fly is Not Funny
Exec=/home/poine/work/quad4d_rebooted/src/qt_gui/click_n_fly.sh
#Exec=/home/poine/work/quad4d_rebooted/src/qt_gui/click_n_fly.py
Icon=/home/poine/src/paparazzi/conf/system/launcher/logo.png
Terminal=false
#Terminal=true
#TerminalOptions=\s--noclose
#StartupWMClass=python3
Type=Application
Categories=Utility
